{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "forceAllTransforms": true,
        "modules": false
      }
    ]
  ],
  "plugins": ["react-hot-loader/babel"],
  "env": {
    "production": {
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true
          }
        ]
      ]
    }
  }
}
