.toolbar {
  position: fixed;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 200px;
  border-radius: 10px;

  background: rgba(200, 200, 200, 0.6);
  text-align: justify;
  font-size: 14px;

  z-index: 5;

}


.toolbar .inner {
  padding: 8px 12px;
}

.title {
  text-align: center;
}

.changeList {
  background: rgb(174, 174, 174);
  padding: 8px 6px;
}

.changeList .count {
  font-size: 12px;
  display: block;
}