.disablePixelSmoothing {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

.canvas {
  composes: disablePixelSmoothing;
  width: 100%;
  height: auto;
}

.drawCanvas {
  composes: disablePixelSmoothing;
  width: 100%;
  height: auto;
  visibility: hidden;
  z-index: -1;
}

.canvasWrapper {
  padding-left: 200px;
}

.canvas.move {
  cursor: grab;
  cursor: -webkit-grab;
}
.canvas.move.isDragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.canvas.draw {
  cursor: crosshair;
}